
@{
    ViewBag.Title = "Submission received for " + Model.Title + ".";
}
@model Assignment9Movies.Models.Movies

<div>
<p>@ViewBag.Title</p>
</div>

<div>
    Click <a asp-action="Movies"> full list of movies. </a>
</div>