<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title> First Things First</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <h1> Put first things first</h1>
    </header>
    <br />
    <br />

    <div>
        @RenderBody()
    </div>
    <br />
    <br />
    <br />

    <footer> Built by Kennedy Daniel</footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>